title: Introduction to GitHub 1
tagline: Your sidekick for getting started on GitHub
description: If you are looking for a quick and fun introduction to GitHub, you've found it. This class will get you started using GitHub in less than an hour.
template:
  name: github-slideshow
  repo: intro-to-github-template
  description: 'A robot powered training repository :robot:'
preferences:
- type: radio
  name: gitTool
  label: Preferred Git tool
  description: Learn right from the web UI, or using your chosen tool
  options:
  - label: Use the GitHub.com web interface
    value: dotcom
  - label: Use the command line
    value: cli
  - label: Use Visual Studio Code
    value: vscode
before:
- type: updateBranchProtection
- type: createIssue
  title: Getting Started with GitHub
  body: introduction.md
  comments:
  - assign-yourself.md

# Course artifacts:
#   1. Issue: Getting started with GitHub
#   2. Issue: Your first contribution
#   3. PR: [Created by learner]

steps:

# 1
- title: Assign yourself
  description: Assign the first issue to yourself.
  event: issues.assigned
  link: '{{ repoUrl }}/issues/1'
  actions:
  - type: gate
    left: '%payload.assignee.login%'
    operator: ===
    right: '%user.username%'
  - type: respond
    with: turn-on-gh-pages.md

tags: [
  "Git","GitHub"
]
video: "sz6zfrQpCQg"
